<div class="swipe-container">
	<div class="card stack" ng-repeat="card in cards track by card.listing_id">
		<div class="card-header" style="background-image:url('{{card.image_url}}')">
	    	<legend class="card-header-legend">
	    		<h1 class="card-header-legend-title">{{card.street_name}}</h1>
	    	</legend>
	    </div>
	</div>
	<button class="swipe-button button-fab color-love" ng-click="moveCardToList(cards[0].listing_id, 'love')" ng-include="$root.url.icons + 'fav.svg'"></button>
	<button class="swipe-button button-fab color-discard" ng-click="moveCardToList(cards[0].listing_id, 'discard')" ng-include="$root.url.icons + 'delete.svg'"></button>
</div>